<!DOCTYPE html>
<html>
<head>
<title>Test App</title>
</head>
<body>

{% for tier in Tlist %}
Tier {{ tier[0] }}
<br>
{% for each in tier[1] %}
<img src="static\\Unit\\uni{{ each }}_f00.png" alt={{ each }}>
{% endfor %}
<br>
{% endfor %}

</body>
</html>

